/* temp notice */
#caution {
	text-align: center;
	margin-top: 25%;
	color: white;
	font-weight: bold;
	font-size: 18pt;
}

/* navigation bg*/
#nav {
	background: url("../image/nav-bg.jpg") no-repeat center;
	background-repeat: no-repeat;

}

/* front bg*/
#home{
	background: url("../image/red-bg.jpg") no-repeat center fixed;
	height: 800px;
	background-position: 100%;
	background-size: cover;
	opacity: 0.95;
}

/* about bg*/
#about {
	background: url("../image/myself1.jpg") no-repeat center;
	background-size: cover;
}

#about-intro, #projects-intro, #contact-intro {
	padding-top: 60px;
	padding-bottom: 60px;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	color: white;
}

#about-intro {
	background-color: rgb(106, 200, 200);
}


#my-badge .col-md-2 {
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 3%;
	
}

#my-badge .img-responsive {
	padding-top: 13px;
}

.my-title {
	font-size: 10pt;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}


#projects-intro {
	background-color: rgb(249, 124, 57);
}

#contact-intro {
	background-color: rgb(255, 190, 10);
}

.glyphicon {
	font-size: 50px;
}

#projects {
	margin-bottom: 30px;
}

#contact {
	height: 800px;
}

li a {
	font-size: 12px;
	font-weight: bold;
	-webkit-transition: all 0.5s ease 0s;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

#my-badge {
	margin-top: 30px;
}


.col-xs-2 {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}

#showcase {
	margin-top: 10px;
	
}

.project-item {
	border: 1px solid #efefef;
}

#wireframe {
	float: left;
	margin-left: 100px;
}

#info-viz {
	float: right;
	margin-right: 100px;
}

#ipad {
	margin-top: 15px;
}


.caption {
	text-align: center;
	padding: 10px 10px;
	position: relative;
}

.project-lookup {
	font-size: 18pt;
}

#social-icon {
	margin-top: 20%;
}

#social-icon i {
	padding: 10px;
}

footer {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	background: url("../image/nav-bg.jpg") no-repeat center;
	text-align: center;
	
}

